

.container-buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
    gap: 10px;
    flex-wrap: wrap; /* Permite que el contenido se ajuste y envuelva */
}

.dropdown {
    max-width: 300px; /* Ajusta este ancho según sea necesario */
}

.dropdown-menu {
    max-height: 250px; /* Ajusta esta altura según sea necesario */
    overflow-y: auto; /* Añade scroll vertical si el contenido excede la altura máxima */
}