.buscador {
    margin-top: -50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
    gap: 10px;
    flex-wrap: wrap; /* Permite que el contenido se ajuste y envuelva */
    background-color: #C19F65;
}

.nav-link.disabled {
    font-size: 20px;
    color: #212529;
    

}

.dropdown-menu {
    max-height: 250px; /* Ajusta esta altura según sea necesario */
    overflow-y: auto; /* Añade scroll vertical si el contenido excede la altura máxima */
}

.dropdown .btn {
    font-size: 18px; /* Tamaño de fuente reducido para los botones */
    padding: 10px 30px; /* Reducción del padding para hacer los botones más pequeños */
}
