.centered-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 400px;
    height: 200px;
    display: flex;
    border-radius: 20px;
    background: #f5f5f5;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: hidden;
    align-items: center;
    position: relative;
    padding: 1rem;
}

.card-image {
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 60%;
}

.text-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.text-body {
    color: rgb(134, 134, 134);
    margin-bottom: 1em;
}

.card-button {
    align-self: center; /* Centra el botón horizontalmente */
    border-radius: 1rem;
    border: none;
    background-color: #212529;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.card:hover {
    border-color: #C19F65;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
    background-color: #C19F65;
}
