.tituloCarruselProfesional {
    border-bottom: solid #C09F65 3px;
}

#carruselProfesionales {
    max-width: 1000px; /* Mantenemos el mismo ancho máximo */
    margin: 0 auto;
    border: 3px solid #C09F65; /* Agregamos un borde con el color dado */
    border-radius: 15px; /* Añadimos un poco de radio al borde */
    overflow: hidden; /* Ocultamos cualquier desbordamiento */
    position: relative; /* Posicionamos de manera relativa para posicionar las flechas */
  }
  
  #carruselProfesionales .carousel-item {
    height: 400px; /* Mantenemos la misma altura de los elementos */
    overflow: hidden; /* Ocultamos cualquier desbordamiento */
    transition: transform 0.5s ease; /* Añadimos una transición suave al cambio de imagen */
    border-radius: 12px; /* Redondeamos las esquinas de las imágenes */
  }
  
  #carruselProfesionales .carousel-item img {
    width: 100%; /* Ajustamos el ancho de la imagen al 100% */
    height: auto; /* Mantenemos la relación de aspecto de la imagen */
    transition: transform 0.5s ease; /* Añadimos una transición suave al hacer hover */
  }
  
  #carruselProfesionales .carousel-item:hover img {
    transform: scale(1.1); /* Al hacer hover, aumentamos ligeramente el tamaño */
  }
  
  #carruselProfesionales .carousel-control-prev,
  #carruselProfesionales .carousel-control-next {
    border-radius: 50%; /* Hacemos los controles redondos */
    background-color: transparent; /* Hacemos el fondo transparente */
    position: absolute; /* Posicionamos de manera absoluta */
    top: 50%; /* Posicionamos los controles en el centro vertical */
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    z-index: 100; /* Aseguramos que los controles estén por encima de las imágenes */
  }
  
  #carruselProfesionales .carousel-control-prev {
    left: -60px; /* Posicionamos el control previo a la izquierda */
  }
  
  #carruselProfesionales .carousel-control-next {
    right: -60px; /* Posicionamos el control siguiente a la derecha */
  }