div.col.editar.profesional {
    margin-top: 20px;
    position: relative; /* Necesario para que el botón absoluto se posicione relativo a este contenedor */
    text-align: left;
  }

  div.e.profesional {
    margin-bottom: 5px;
  }