.login {
    width: 800px;
    height: 400px;
    background: #212529;
    padding: 47px;
    color: #faf9f9;
    border-radius: 17px;
    font-size: 1.3em;
    font-family: "Alice", serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
  }
  
  .login input[type="text"],
  .login input[type="password"],
  .btn-inicio-sesion {
    width: 100%;
    padding: 13px 18px;
    margin: 20px 0 0 0;
    font-size: 0.8em;
    border-radius: 100px;
    background: #5c4525;
    color: #fff;
    border: none;
    outline: none;
  }
  
  .btn-inicio-sesion {
    background: linear-gradient(144deg, #C19F65, #5c4525 50%, #C19F65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    width: 50%; /* Ancho ajustado */
    text-align: center; /* Centrar texto */
  }
  
  .btn-inicio-sesion:hover {
    background: linear-gradient(144deg, #5c4525 , 20%,#C19F65 50%,#5c4525 );
  }
  